<div class="container text-center mt-3">
  <div class="row">
    <div class="col">
      <p>Soutenez EVIL TOWN PARTY sur les réseaux&nbsp;!</p>
      <div class="shareon" data-url="https://eviltown.fr/">
        <a class="facebook"></a>
        <a class="linkedin"></a>
        <a class="mastodon"></a>
        <a class="reddit"></a>
        <a class="telegram"></a>
        <a class="twitter"></a>
        <a class="whatsapp"></a>
        <a class="email"></a>
        <a class="copy-url"></a>
      </div>
      <p class="et-contact">
        Site internet:
        <a class="link-light"
           href="https://www.instagram.com/thom.c44"
           title="Contacter Thom sur Instagram">
          <img alt="Instagram" class="sn-icon"
               src="/assets/img/icon-instagram.png" height="20">
        </a>
        <br/>
        <a class="link-light"
           href="https://maanenfaces.com"
           title="Site officiel de Maanen Faces">Maanen Faces</a> @ 2024
      </p>
    </div>
  </div>
</div>
