<nav id="navbar-main"
     class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand bebas-neue-regular" href="/">
      EVIL TOWN PARTY
      <span style="color: #f00;">II</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-nav-links">
        <li class="nav-item">
          <a class="nav-link btn-mf" href="#lineup">LINE-UP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-mf" href="#info">INFOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-mf" href="#billetterie">BILLETTERIE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>