@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.et-bg-image {
  background-color: #000;
  position: fixed;
  bottom: -100px;
  left: 0;
  opacity: 0.9;

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
}

.row .col-et {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1em;
}

.scroll-margin {
  scroll-margin-top: 7rem;
}

#home {
  margin-top: 2em;
}
#home .short-desc {
  font-size: 1.2em;
  font-style: italic;
}

#lineup {
  margin-top: 4em;
}
#lineup .row.row-band.row-band-first .col-et {
  padding-top: 2em;
}

#info {
  margin-top: 4em;
}

#billetterie {
  margin-top: 4em;
}

#footer {
  margin-top: 4em;
  padding-bottom: 2em;
}
#footer .et-contact {
  margin-top: 1em;
}

#navbar-main,
#navbar-main.bg-dark {
  background-color: rgba(0, 0, 0, 0.9) !important;
}
#navbar-main .container {
  max-width: 720px;
}
#navbar-main .navbar-brand {
  color: #fff;
  font-size: 2.6em;
  margin-left: 0.1em;
}
#navbar-main .navbar-nav-links {
  margin-left: auto;
  margin-right: 0;
}
#navbar-main .nav-item a.btn-mf {
  border-bottom: 3px #fff solid;
  color: #fff;
  font-size: 1.3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0;
  padding-right: 0;
}
#navbar-main .nav-item a.btn-mf:hover {
  border-color: #f00;
  color: #f00;
}

body .container {
  max-width: 720px;
}
body h2 {
  background-color: #f00;
  color: #fff;
  padding: 5px;
  width: fit-content;
}