@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.scroll-margin {
  scroll-margin-top: 7rem;
}

#home {
  margin-top: 2em;
}
#home .short-desc {
  font-size: 1.2em;
  font-style: italic;
}

#lineup {
  margin-top: 4em;
}
#lineup .row.row-band.row-band-first .col-et {
  padding-top: 2em;
}

#info {
  margin-top: 4em;
}

#billetterie {
  margin-top: 4em;
}

#footer {
  margin-top: 4em;
  padding-bottom: 2em;
}
#footer .et-contact {
  margin-top: 1em;
}

/******************************
 UPDATED ORDERED CSS
******************************/

.et h2,
.et h3 {
  text-transform: uppercase !important;
  width: fit-content;
}

.et h2 {
  background-color: #f00;
  color: #fff;
  padding: 3px 7px 3px 7px;
}

.et h3 {
  background-color: #444;
  border-left: 5px solid #fff;
  font-size: 1.5rem;
  margin-bottom: 1em;
  margin-top: 1.5em;
  padding: 3px 7px 3px 7px;
}

.et .bg-obj-image {
  filter: grayscale(0.7);
  opacity: 0.5;
}

.et .bg-obj-video {
  filter: grayscale(1);
  opacity: 0.05;
}

.et .bg-dark {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.et .container {
  max-width: 800px;
}

.et .instagram-media {
  /** This is the default Instragram markup, a little bit adapted **/
  background: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
  margin: 1px;
  padding: 0;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
}

.et .navbar .navbar-brand {
  color: #fff;
  font-size: 2.6em;
  margin-left: 0.1em;
}

.et .navbar .navbar-nav-links {
  margin-left: auto;
  margin-right: 0;
}

.et .navbar .nav-item a.link-et {
  border-bottom: 3px #fff solid;
  color: #fff;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0;
  padding-right: 0;
}

.et .navbar .nav-item a.link-et:hover {
  border-color: #f00;
  color: #f00;
}

.et .row .col-et {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1em;
}

.et .row .col-et h3:first-child {
  margin-top: 5px;
}

.et .row .col-et p:last-child {
    margin-bottom: 5px;
}
