<!doctype html>
<html lang="fr" class="h-100">
  <head>
    <title>EVIL TOWN PARTY ★ {{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="author" content="Maanen Faces">
    <meta name="description" content="{{ page.description }}">
    <meta name="docsearch:language" content="fr">
    <meta name="docsearch:version" content="5.0">
    <meta name="theme-color" content="#000">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="refresh" content="0; URL={{ page.redirect_url }}">

    <style>
      body {
        background: #000;
        color: #fff;
        font-family: sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        text-align: center;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <a href="{{ page.redirect_url }}">{{ page.redirect_url }}</a>
  </body>
</html>
